.contacts {
  margin-bottom: 40px;
}

.contacts__wrapper {
  padding: 0 30px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.contacts__info {
  margin-bottom: 40px;
}

.contacts__map {
  margin-bottom: 40px;
}
