.contacts {
  margin-bottom: 40px;
}

.contacts__wrapper {
  @include mobile-wrapper;
}

.contacts__title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.contacts__info {
  margin-bottom: 40px;
}

.contacts__map {
  margin-bottom: 40px;
}
