.contacts {
  margin-bottom: 40px;
  padding-top: 25px;
}

.contacts__wrapper {
  @include wrapper;
}

.contacts__title {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.contacts__info {
  margin-bottom: 40px;
}

.contacts__data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.contacts__header {
  padding-top: 10px;
}

.contacts__text {
  position: relative;
  font-style: normal;
  line-height: 2;
  color: inherit;

  &--email::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: $main-green;
  }

  &--address {
    width: 180px;
    padding-right: 30px;
  }
}

.contacts__map {
  position: relative;
  margin-bottom: 35px;
  min-height: 457px;
}

.contacts__image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.contacts__iframe {
  width: 100%;
  min-height: 457px;
}
