.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 90px;

  @media (min-width: $tablet-width) {
    padding-bottom: 110px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding-top: 95px;
    padding-bottom: 105px;
  }
}

.contacts__wrapper {
  @include wrapper;
}

.contacts__title {
  position: relative;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
    font-size: 43px;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      width: 47px;
      height: 81px;
      background-image: url("../img/flag.svg");
      background-size: 47px 81px;
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: $desktop-width) {
        left: 65px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
    font-size: 53px;
  }
}

.contacts__info {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    padding-left: 175px;
    margin-bottom: 60px;
  }
}

.contacts__data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 50%;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}

.contacts__header {
  padding-top: 10px;
}

.contacts__text {
  position: relative;
  font-style: normal;
  line-height: 2;
  color: inherit;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    font-size: 17px;
  }

  &--email {
    &:hover,
    &:focus {
      color: $main-green;
    }

    &:active {
      opacity: 0.3;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      background-color: $main-green;

      @media (min-width: $tablet-width) {
        top: 30px;
      }
    }
  }

  &--address {
    width: 180px;
    padding-right: 30px;

    @media (min-width: $tablet-width) {
      width: auto;
      padding-right: 0;
    }

    @media (min-width: $desktop-width) {
      padding-right: 150px;
      line-height: 1.76;
    }
  }
}

.contacts__map {
  margin-bottom: 35px;
  min-height: 457px;

  @media (max-width: $tablet-width-only) {
    order: 1000;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    float: right;
  }
}

.contacts__image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.contacts__iframe {
  width: 100%;
  min-height: 457px;

  @media (min-width: $desktop-width) {
    width: 525px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.contacts__main-link {
  position: absolute;
  width: 260px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 230px;
    bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    left: auto;
    transform: translateY(100%);
    margin-left: 175px;
  }
}
