.contacts {
  margin-bottom: 40px;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }
}

.contacts__wrapper {
  @include wrapper;
}

.contacts__title {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
    font-size: 43px;
  }
}

.contacts__info {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
  }
}

.contacts__data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 50%;
    justify-content: flex-start;
  }
}

.contacts__header {
  padding-top: 10px;
}

.contacts__text {
  position: relative;
  font-style: normal;
  line-height: 2;
  color: inherit;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    font-size: 17px;
  }

  &--email::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: $main-green;

    @media (min-width: $tablet-width) {
      top: 30px;
    }
  }

  &--address {
    width: 180px;
    padding-right: 30px;

    @media (min-width: $tablet-width) {
      width: auto;
      padding-right: 0;
    }
  }
}

.contacts__map {
  position: relative;
  margin-bottom: 35px;
  min-height: 457px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.contacts__image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;

  @media (min-width: $tablet-width) {
    width: 768px;
  }
}

.contacts__iframe {
  width: 100%;
  min-height: 457px;
}

.contacts__main-link {
  width: 230px;
  margin: 0 auto;
}
