.features {
  padding-top: 8px;
  border-top: 6px solid;
  border-image-source: url("../img/bg-zigzag-line.svg");
  border-image-slice: 100;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    border-top-width: 15px;
    border-image-slice: 40;
  }

  @media (min-width: $desktop-width) {
    border-top-width: 23px;
  }
}

.features__wrapper {
  @include wrapper;
}

.features__title {
  font-size: 25px;
  font-weight: 700;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    font-size: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
    font-size: 53px;
  }
}

.features__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 870px;
    padding-left: 175px;
  }
}

.features__item {
  position: relative;
  margin-bottom: 20px;
  padding-top: 65px;
  font-size: 17px;
  font-weight: 700;
  color: #000000;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-bottom: 42px;
    font-size: 20px;

    &--eco-material {
      order: 1;
    }

    &--hand-made {
      order: 2;
    }

    &--scandinavia-style {
      order: 3;
    }

    &--import-substitution {
      order: 4;
    }

    &--boost-likes {
      order: 5;
    }

    &--gift-box {
      order: 6;
    }
  }

  &--eco-material::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 8px;
    width: 32px;
    height: 37px;
    background-image: url("../img/feature-flower.svg");
    background-size: 32px 37px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--scandinavia-style::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 47px;
    height: 27px;
    background-image: url("../img/feature-money.svg");
    background-size: 47px 27px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--boost-likes::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 7px;
    width: 34px;
    height: 27px;
    background-image: url("../img/feature-heart.svg");
    background-size: 34px 27px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--hand-made::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 5px;
    width: 35px;
    height: 34px;
    background-image: url("../img/feature-ball.svg");
    background-size: 35px 34px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--import-substitution::before {
    content: "";
    position: absolute;
    top: 15px;
    left: -5px;
    width: 55px;
    height: 23px;
    background-image: url("../img/feature-rocket.svg");
    background-size: 55px 23px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--gift-box::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 3px;
    width: 33px;
    height: 32px;
    background-image: url("../img/feature-gift.svg");
    background-size: 33px 32px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      order: 6;
    }
  }
}
