.feedback {
  margin-bottom: 40px;
}

.feedback__wrapper {
  @include mobile-wrapper;
}

.feedback__title {
  font-size: 25px;
  font-weight: 700;
  color: #000000;
}

.feedback__author {
  margin-bottom: 35px;
  font-size: 17px;

  &--name {
    font-weight: 700;
    color: #000000;
  }
}

.feedback__author p {
  margin: 0;
}

.feedback__controls {
  margin-bottom: 35px;
}
