.feedback {
  position: relative;
  padding-top: 20px;
  padding-bottom: 45px;
  border-bottom: 6px solid;
  border-image-source: url("../img/bg-zigzag-line.svg");
  border-image-slice: 100;

  @media (min-width: $tablet-width) {
    padding-top: 70px;
    padding-bottom: 85px;
    border-bottom-width: 15px;
    background-image: url("../img/review@1x.jpg");
    background-size: 350px 457px;
    background-position-y: 30%;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    padding-bottom: 130px;
    background-position-x: 30%;
    border-bottom-width: 23px;
  }
}

.feedback__wrapper {
  @include wrapper;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-left: 225px;
  }
}

.feedback__title {
  margin-bottom: 24px;
  font-size: 25px;
  font-weight: 700;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    font-size: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
    font-size: 53px;
  }
}

.feedback__text {
  margin-bottom: 29px;
  line-height: 2;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    font-size: 17px;
    line-height: 1.76;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
    padding-right: 80px;
  }
}

.feedback__author {
  margin-bottom: 35px;
  font-size: 17px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.feedback__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  color: #000000;
}

.feedback__pagination {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  border: 1px solid #ececec;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.feedback__button {
  min-height: 52px;
  width: 50%;
  background-color: #ffffff;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 78px;
    margin-right: 10px;
  }

  &--prew {
    border-right: 0.5px solid #ececec;
    background-image: url("../img/left-arrow.svg");
    background-size: 50px 26px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  &--next {
    border-left: 0.5px solid #ececec;
    background-image: url("../img/right-arrow.svg");
    background-size: 50px 26px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }
}

.feedback__main-link {
  @media (min-width: $tablet-width) {
    position: absolute;
    left: 71%;
    top: 110px;
    min-width: 175px;
  }

  @media (min-width: $desktop-width) {
    left: 67%;
  }
}
