.feedback {
  padding-top: 1px;
  padding-bottom: 45px;
  border-bottom: 6px solid;
  border-image-source: url("../img/bg-zigzag-line.svg");
  border-image-slice: 100;
}

.feedback__wrapper {
  @include wrapper;
}

.feedback__title {
  margin-bottom: 24px;
  font-size: 25px;
  font-weight: 700;
  color: #000000;
}

.feedback__text {
  margin-bottom: 29px;
  line-height: 2;
}

.feedback__author {
  margin-bottom: 35px;
  font-size: 17px;
}

.feedback__name {
  margin-bottom: 10px;
  font-weight: 700;
  color: #000000;
}

.feedback__pagination {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  border: 1px solid #ececec;
}

.feedback__button {
  min-height: 52px;
  width: 50%;
  background-color: #ffffff;
  cursor: pointer;

  &--prew {
    border-right: 0.5px solid #ececec;
    background-image: url("../img/left-arrow.svg");
    background-size: 50px 26px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--next {
    border-left: 0.5px solid #ececec;
    background-image: url("../img/right-arrow.svg");
    background-size: 50px 26px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
