.footer {
  min-height: 160px;
  padding-top: 25px;
  background-color: #f1f1f1;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
  }
}

.footer__wrapper {
  @include wrapper;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__item {
  @media (min-width: $tablet-width) {
    width: 27%;
  }
}

.footer__logo {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.footer__social {
  margin: 0 auto;
}

.footer__web-dev {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
