.form {
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    margin-top: -40px;
    border-top: 24px solid;
    border-image-source: url("../img/bg-zigzag-fill.svg");
    border-image-slice: 100;
  }
}

.form__fieldset {
  display: flex;
  flex-direction: column;
}

.form__legend {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: $main-green;

  &--type {
    margin-bottom: 30px;
  }

  &--color {
    margin-bottom: 30px;
  }
}

.form__label {
  font-size: 17px;
  font-weight: 700;
  color: #000000;
}

.form__type label {
  position: relative;
  margin-bottom: 25px;
  padding-left: 60px;
}

.form__type span {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #444444;
    border-radius: 50%;
    background-color: #ffffff;
  }
}

.form__type input:checked + span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $main-green;
}

.form__color {
  margin-bottom: 25px;
}

.form__color label {
  position: relative;
  padding-left: 60px;
}

.form__color label:not(:last-child) {
  margin-bottom: 42px;
}

.form__color span {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #444444;
    background-color: #ffffff;
  }
}

.form__color input:checked + span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 16px;
  border-radius: 50%;
  background-image: url("../img/tick.svg");
  background-size: 22px 16px;
  background-position: center;
  background-repeat: no-repeat;
}

.form__name {
  margin-bottom: 10px;
}

.form__name .form__legend {
  margin-bottom: 28px;
}

.form__name label:not(:last-child) {
  margin-bottom: 20px;
}

.form__name span {
  display: block;
}

.form__name input {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  border-bottom: 2px solid #444444;

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }
}

.form__tel {
  margin-bottom: 15px;
}

.form__tel .form__legend {
  margin-bottom: 5px;
}

.form__tel input {
  position: relative;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  border-bottom: 2px solid #444444;

  &::placeholder {
    font-size: 17px;
    color: rgba(68, 68, 68, 0.3);
  }
}

.form__wrapper--tel {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    width: 25px;
    height: 25px;
    background-image: url("../img/phone.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
  }
}

.form__email {
  margin-bottom: 15px;
}

.form__email .form__legend {
  margin-bottom: 5px;
}

.form__email input {
  position: relative;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  border-bottom: 2px solid #444444;

  &::placeholder {
    font-size: 17px;
    color: rgba(68, 68, 68, 0.3);
  }
}

.form__wrapper--email {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    width: 32px;
    height: 32px;
    background-image: url("../img/mail.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
  }
}

.form__addition {
  margin-bottom: 16px;
}

.form__addition .form__legend {
  margin-bottom: 25px;
}

.form__addition textarea {
  width: 100%;
  min-height: 140px;
  padding: 15px;
  border: 2px solid #444444;
  resize: none;

  &::placeholder {
    font-size: 17px;
    line-height: 1.06;
    color: rgba(68, 68, 68, 0.3);
  }
}

.form__note {
  margin-bottom: 30px;
  font-size: 14px;
}

.form__main-link {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: $mobile-width-only) {
  .form__wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $tablet-width) {
  .form__legend {
    position: absolute;
  }

  .form__fieldset {
    flex-direction: row;
  }

  .form__wrapper {
    display: flex;
    width: 80%;
    padding-left: 80px;

    &--type {
      flex-direction: column;
    }

    &--name {
      flex-direction: column;
    }

    &--color {
      flex-wrap: wrap;
    }
  }

  .form__wrapper--color label {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper--color label {
    width: 30%;
  }
}
