.form__fieldset {
  border: none;
}

.form__legend {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: $main-green;
}

.form__label {
  font-size: 17px;
  font-weight: 700;
  color: #000;
}
