.form {
  margin-bottom: 55px;
}

.form__wrapper {
  @include wrapper;
}

.form__fieldset {
  display: flex;
  flex-direction: column;

  &--type {
    padding-top: 10px;
  }

  &--color {
    padding-top: 15px;
  }

  &--tel {
    padding-top: 15px;
  }
}

.form__legend {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: $main-green;

  &--type {
    margin-bottom: 30px;
  }

  &--color {
    margin-bottom: 32px;
  }

  &--name {
    margin-bottom: 28px;
  }

  &--tel {
    margin-bottom: 5px;
  }
}

.form__label {
  &--name {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.form__caption {
  display: block;
  position: relative;
  padding-left: 60px;
  font-size: 17px;
  font-weight: 700;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    padding-left: 85px;
  }

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }

  &--type {
    margin-bottom: 25px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 40px;
      height: 40px;
      border: 2px solid #444444;
      background-color: #ffffff;
      border-radius: 50%;

      @media (min-width: $tablet-width) {
        width: 52px;
        height: 53px;
      }
    }
  }

  &--color {
    margin-bottom: 42px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 40px;
      height: 40px;
      border: 2px solid #444444;
      background-color: #ffffff;

      @media (min-width: $tablet-width) {
        width: 54px;
        height: 52px;
      }
    }
  }

  &--name {
    padding-left: 0;
  }
}

.form__input {
  &--type {
    &:checked + .form__caption::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translate(-50%, -50%);
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $main-green;

      @media (min-width: $tablet-width) {
        left: 26px;
        width: 22px;
        height: 22px;
      }
    }
  }

  &--color {
    &:checked + .form__caption::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translate(-50%, -50%);
      width: 22px;
      height: 16px;
      border-radius: 50%;
      background-image: url("../img/tick.svg");
      background-size: 22px 16px;
      background-position: center;
      background-repeat: no-repeat;

      @media (min-width: $tablet-width) {
        left: 27px;
        width: 33px;
        height: 22px;
        background-size: 33px 22px;
      }
    }
  }

  &--name {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    border-bottom: 2px solid #444444;

    &::placeholder {
      font-size: 17px;
      color: rgba(68, 68, 68, 0.3);
    }
  }

  &--tel {
    position: relative;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    border-bottom: 2px solid #444444;

    &::placeholder {
      font-size: 17px;
      color: rgba(68, 68, 68, 0.3);
    }
  }
}

.form__tel input {
  position: relative;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  border-bottom: 2px solid #444444;

  &::placeholder {
    font-size: 17px;
    color: rgba(68, 68, 68, 0.3);
  }
}

.form__inner--tel {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    width: 25px;
    height: 25px;
    background-image: url("../img/phone.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
  }
}

.form__email {
  margin-bottom: 15px;
}

.form__email .form__legend {
  margin-bottom: 5px;
}

.form__email input {
  position: relative;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  border-bottom: 2px solid #444444;

  &::placeholder {
    font-size: 17px;
    color: rgba(68, 68, 68, 0.3);
  }
}

.form__wrapper--email {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    width: 32px;
    height: 32px;
    background-image: url("../img/mail.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
  }
}

.form__addition {
  margin-bottom: 16px;
}

.form__addition .form__legend {
  margin-bottom: 25px;
}

.form__addition textarea {
  width: 100%;
  min-height: 140px;
  padding: 15px;
  border: 2px solid #444444;
  resize: none;

  &::placeholder {
    font-size: 17px;
    line-height: 1.06;
    color: rgba(68, 68, 68, 0.3);
  }
}

.form__note {
  margin-bottom: 30px;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form__main-link {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin: 0;
    order: -1;
  }
}

.form__footer {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $tablet-width) {
  .form__legend {
    position: absolute;
  }

  .form__wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 165px;

    &--type {
      flex-direction: column;
    }

    &--color {
      flex-wrap: wrap;
    }

    &--name {
      flex-direction: column;
    }
  }

  .form__wrapper--color label {
    width: 47%;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper--color label {
    width: 30%;
  }
}
