.header {
  margin-bottom: 40px;
}

.header__wrapper {
  @include wrapper;
}

.header__face {
  min-height: 283px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #fafafa;

  &--catalog,
  &--form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 180px;
    background-image: none;
    background-color: #f1f1f1;
  }
}

.header__title {
  font-size: 27px;
  font-weight: 700;
  text-align: center;
  color: #010000;
}
