.header {
  margin-bottom: 40px;
}

.header__face {
  min-height: 340px;
  margin-bottom: -58px;
  background-image: url("../img/hero-mobile@1x.jpg");
  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
  background-size: 575px 373px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fafafa;

  &--catalog,
  &--form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 180px;
    background-image: none;
    background-color: #f1f1f1;
  }
}

.header__title {
  margin: 0;
  padding: 70px 30px 30px;
  font-size: 27px;
  font-weight: 700;
  line-height: 1.12;
  text-align: center;
  color: #010000;
}
