.header__face {
  min-height: 340px;
  margin-bottom: -58px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-size: 575px 373px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fafafa;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    min-height: 746px;
    margin-bottom: -119px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: 1150px 746px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  &--catalog,
  &--form {
    min-height: 177px;
    margin-bottom: 0;
    background-image: none;
    background-color: #f1f1f1;

    @media (min-width: $tablet-width) {
      min-height: 226px;
      background-image: none;
    }
  }

  &--form {
    @media (min-width: $desktop-width) {
      min-height: 250px;
    }
  }
}

.header__title {
  margin: 0;
  padding: 70px 30px 30px;
  font-size: 27px;
  font-weight: 700;
  line-height: 1.12;
  text-align: center;
  color: #010000;

  @media (min-width: $tablet-width) {
    padding: 155px 50px 50px;
    font-size: 43px;
  }

  @media (min-width: $desktop-width) {
    width: 705px;
    margin: 0 auto;
    padding: 95px 50px 50px;
    font-size: 53px;
  }
}
