.hit {
  margin-bottom: 40px;
}

.hit__wrapper {
  @include wrapper;
}

.hit__title {
  font-size: 25px;
  font-weight: 700;
  color: #000000;
}

.hit__lable {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: $main-green;
}

.hit__price {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}
