.humburger {
  position: absolute;
  right: 9%;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  border: 0;
  border-radius: 0;
  width: 20px;
  height: 14px;
  background-image: url("../img/menu-open.svg");
  background-size: 20px 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  cursor: pointer;

  &--open {
    width: 20px;
    height: 14px;
    background-image: url("../img/menu-open.svg");
    background-size: 20px 14px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--close {
    width: 21px;
    height: 20px;
    background-image: url("../img/menu-close.svg");
    background-size: 21px 20px;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
