.main-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 52px;
  vertical-align: middle;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #444444;
  background-color: #ffffff;
  color: inherit;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #444444;
    color: #ffffff;
  }

  &:active {
    background-color: #444444;
    color: rgba(255, 255, 255, 0.3);
  }

  &--hit {
    @media (min-width: $desktop-width) {
      width: 292px;
    }
  }

  &--feedback {
    font-size: 18px;
  }

  &--contacts {
    font-size: 18px;
  }

  &--presentation {
    width: 192px;

    @media (min-width: $tablet-width) {
      width: 584px;
    }

    @media (min-width: $desktop-width) {
      width: 230px;
    }
  }
}
