.main-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 52px;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #444444;
  background-color: #ffffff;
  color: inherit;

  &--hit {
    @media (min-width: $desktop-width) {
      width: 292px;
    }
  }
}
