.modal {
  position: fixed;
  display: none;
  z-index: 10000;

  &--change-size {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 335px;
    padding: 10px 0 45px;
    box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
    border: solid 1px #c6c6c6;
    background-color: #ffffff;
  }

  &--show {
    display: block;
  }
}

.modal__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    width: 570px;
    padding: 0 105px;
  }
}

.modal__title {
  padding: 0 50px;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 30px;
  }
}

.modal__legend {
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.modal__form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.modal__form-label {
  display: flex;
  justify-content: space-between;
}

.modal__form-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  min-height: 52px;
  font-size: 17px;
  font-weight: 700;
  border: solid 2px rgba(68, 68, 68, 0.1);
  background-color: #ffffff;
  cursor: pointer;

  &:hover,
  &:focus {
    border: solid 2px rgba(68, 68, 68, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 112px;
  }
}

.modal__form-input:checked + .modal__form-caption {
  border-color: $main-green;
}

.modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 52px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background-color: $main-green;
  color: #ffffff;
  cursor: pointer;
}
