@media (max-width: $mobile-width-only) {
  .nav__item {
    min-height: 79px;
    border-bottom: 1px solid #ececec;

    &--header {
      justify-content: center;
    }
  }

  .nav__item:not(.nav__item--header) {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.nav__item {
  display: flex;
  font-size: 17px;
  font-weight: 700;
  color: #000000;

  &--delivery,
  &--new,
  &--sale {
    display: none;
  }
}

.nav__item:not(.nav__item--header) {
  align-items: center;
}

.nav__logo {
  display: flex;
}

.nav__input {
  margin: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  font-size: 15px;
  color: #444444;
  appearance: none;

  &::-webkit-search-decoration {
    appearance: none;
  }

  &::placeholder {
    font-size: 17px;
    font-weight: 700;
    line-height: 1;
    color: #000000;
  }
}

.nav__input:focus::placeholder {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .nav__wrapper {
    @include wrapper;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav__item {
    &--delivery {
      display: flex;
      font-size: 15px;
      font-weight: 400;
      order: 1000;
    }

    &--order {
      font-size: 15px;
      font-weight: 700;
      order: 5;
    }

    &--catalog {
      font-size: 15px;
      font-weight: 700;
      order: 4;
    }

    &--header {
      width: 35%;
    }
  }
}

@media (min-width: $desktop-width) {
  .nav__item {
    &--order {
      order: -1;
    }

    &--catalog {
      order: -2;
    }

    &--new,
    &--sale {
      display: flex;
      font-size: 15px;
      font-weight: 700;
    }
  }
}
