.nav {
  &--closed {
    .nav__item:not(.nav__item--header) {
      @media (max-width: $mobile-width-only) {
        display: none;
      }
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: -88px;

    &::before {
      content: "";
      position: absolute;
      top: 88px;
      width: 100%;
      height: 1px;
      background-color: #ececec;
    }
  }
}

.nav__wrapper {
  @media (min-width: $tablet-width) {
    @include wrapper;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.nav__item:not(.nav__item--header) {
  align-items: center;

  @media (max-width: $mobile-width-only) {
    padding-left: 23%;
    padding-right: 9%;
  }
}

.nav__item {
  position: relative;
  display: flex;
  min-height: 79px;
  font-size: 17px;
  font-weight: 700;
  color: #000000;
  line-height: 1.41;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid #ececec;
  }

  @media (min-width: $tablet-width) {
    min-height: 88px;
  }

  &--header {
    justify-content: center;

    @media (min-width: $tablet-width) {
      width: 48%;
      justify-content: start;
    }

    @media (min-width: $desktop-width) {
      position: absolute;
      width: auto;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1000;
    }
  }

  &--delivery {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
      margin-left: auto;
      font-size: 15px;
      font-weight: 400;
      order: 1000;
    }
  }

  &--order {
    @media (min-width: $tablet-width) {
      margin-left: 35px;
      font-size: 15px;
      font-weight: 700;
      order: 5;
    }

    @media (min-width: $desktop-width) {
      width: 49%;
      margin-left: 0;
    }
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      font-size: 15px;
      font-weight: 700;
      order: 4;
    }

    @media (min-width: $desktop-width) {
      width: 18%;
    }
  }

  &--cart {
    @media (min-width: $tablet-width) {
      width: 39.5%;
      justify-content: flex-end;
    }

    @media (min-width: $desktop-width) {
      width: 25%;
    }
  }

  &--search {
    @media (min-width: $tablet-width) {
      flex-grow: 1;
      justify-content: center;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;
    }
  }

  &--new,
  &--sale {
    display: none;
  }
}

.nav__icon {
  opacity: 0.2;

  @media (max-width: $mobile-width-only) {
    position: absolute;
    left: 9%;
    top: 50%;
    transform: translateY(-50%);
  }

  &--cart {
    @media (min-width: $tablet-width) {
      margin-right: 30px;
    }
  }
}

.nav__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 86px;
  background-image: url("../img/logo-mobile.svg");
  background-size: 86px 35px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    width: 112px;
    background-image: url("../img/logo-tablet.svg");
    background-size: 112px 46px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    background-image: url("../img/logo-desktop.svg");
    background-size: 149px 72px;
  }
}

.nav__input {
  margin: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  font-size: 15px;
  color: #444444;
  appearance: none;

  &::-webkit-search-decoration {
    appearance: none;
  }

  &::placeholder {
    font-size: 17px;
    font-weight: 700;
    color: #000000;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav__input:focus::placeholder {
  opacity: 0.3;
}

@media (min-width: $desktop-width) {
  .nav__item {
    &--order {
      order: -1;
    }

    &--catalog {
      order: -2;
    }

    &--new,
    &--sale {
      display: flex;
      font-size: 15px;
      font-weight: 700;
    }

    &--new {
      margin-left: 93px;
    }
  }
}
