.products-group__link {
  display: block;
  min-height: 101px;
  font-size: 19px;
  font-weight: 700;
  color: #fff;

  &--interior {
    background-color: $main-green;
  }

  &--toys {
    background-color: #56c3b2;
  }
}
