.products-group__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 103px;
  padding-left: 28px;
  padding-right: 28px;
  font-size: 19px;
  font-weight: 700;
  line-height: 1.26;
  color: #ffffff;

  &--interior {
    padding-right: 35px;
    background-color: $main-green;

    &::after {
      content: "";
      width: 40px;
      height: 62px;
      background-image: url("../img/interior.svg");
      background-size: 40px 62px;
      opacity: 0.5;
    }
  }

  &--toys {
    background-color: #56c3b2;

    &::after {
      content: "";
      width: 60px;
      height: 60px;
      background-image: url("../img/toy.svg");
      background-size: 60px 60px;
      opacity: 0.5;
    }
  }

  @media (min-width: $tablet-width) {
    width: 50%;
    min-height: 119px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}

.products-group__title {
  width: 30%;
}

.products-group__wrapper {
  @media (min-width: $tablet-width) {
    @include wrapper;
    display: flex;
    justify-content: space-between;
  }
}
