.products {
  padding-top: 30px;
  padding-bottom: 40px;
}

.products__wrapper {
  @include wrapper;
}

.products__item {
  outline: 1px solid #ececec;

  @media (max-width: $tablet-width-only) {
    display: flex;
    flex-direction: column;
  }
}

.products__item:not(:last-child) {
  margin-bottom: 30px;
}

.products__content {
  padding: 15px 30px 28px;
}

.products__title {
  font-size: 17px;
  font-weight: 700;
  color: #000000;
}

.products__description {
  margin-bottom: 30px;
  font-size: 13px;
}

.products__commerc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid #ececec;
}

.products__price {
  font-weight: 700;
  color: #000000;
}

.products__cart-icon {
  opacity: 0.2;
}

@media (min-width: $desktop-width) {
  .products__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
