body {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  background-color: #ffffff;
  color: #444444;
}

main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

a {
  text-decoration: none;
}

*:focus {
  outline: none;
  box-shadow: 0px 0px 5px 5px $main-green;
}
