html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  background-color: linen;
  color: #444444;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

*:focus {
  outline: none;
  box-shadow: 0 0 5px 5px $main-green;
}
