@mixin wrapper {
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

@mixin reset-list {
  padding-left: 0;
  list-style: none;
}
